@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 224 85% 8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 213 100% 55%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 214 8% 50%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 213 100% 47%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply font-Guy text-4xl sm:text-6xl md:text-7xl xl:text-8xl text-primary text-center;
  }
  h2 {
    @apply font-Guy text-4xl text-primary;
  }
  h3 {
    @apply font-Guy text-xl text-secondary;
  }
  p,
  a,
  li {
    @apply font-Zilla text-muted;
  }
  p {
    @apply text-base md:text-lg lg:text-xl;
  }
  a {
    @apply text-base hover:text-secondary ease-in-out duration-300;
  }

  .maxWidth {
    @apply max-w-screen-2xl mx-6 md:mx-8 2xl:mx-auto;
  }

  /* Styles for woo product descriptions */
  .woo_description div,
  .woo_description p,
  .woo_description li {
    @apply text-base md:text-lg lg:text-xl text-muted font-Zilla;
  }

  .woo_description h4 {
    @apply font-Guy py-3;
  }

  .woo_description p {
    @apply py-2.5;
  }

  .woo_description ol {
    @apply list-decimal list-inside;
  }

  .woo_description li {
    @apply py-1;
  }
}
